<form class="main-form" [formGroup]="form" (ngSubmit)="changePassword()">
  <div class="mb-3">
    <label for="oldPassword1" class="form-label">Old Password</label>
    <input
      type="password"
      class="form-control"
      [ngClass]="{
        'is-valid': oldPassword?.valid,
        'is-invalid': oldPassword?.touched && !oldPassword?.valid
      }"
      id="oldPassword"
      formControlName="oldPassword"
      aria-describedby="oldPasswordFeedback"
    />
    <div id="oldPasswordFeedback" class="invalid-feedback">
      <div *ngIf="oldPassword?.errors?.required">Old password is required!</div>
      <div *ngIf="oldPassword?.errors?.notValid">Password is not valid!</div>
    </div>
  </div>
  <div class="mb-3">
    <label for="newPassword1" class="form-label">New Password</label>
    <input
      type="password"
      class="form-control"
      [ngClass]="{
        'is-valid': newPassword?.valid,
        'is-invalid': newPassword?.touched && !newPassword?.valid
      }"
      id="newPassword"
      formControlName="newPassword"
      aria-describedby="newPasswordFeedback"
    />
    <div id="newPasswordFeedback" class="invalid-feedback">
      New password is required!
    </div>
  </div>

  <div class="mb-3">
    <label for="confirmPassword1" class="form-label">Confirm Password</label>
    <input
      type="password"
      class="form-control"
      [ngClass]="{
        'is-valid': confirmPassword?.valid && form.valid,
        'is-invalid':
          confirmPassword?.touched && !confirmPassword?.valid && !form.valid
      }"
      id="confirmPassword"
      formControlName="confirmPassword"
      aria-describedby="confirmPasswordFeedback"
    />
    <div id="confirmPasswordFeedback" class="invalid-feedback">
      <div *ngIf="confirmPassword?.errors?.required">
        Confirm password is required!
      </div>
      <div *ngIf="confirmPassword?.touched && form.errors?.notSame">
        Confirm password should match to new password!
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
    Change Password
  </button>
</form>
